.ui-tooltip {
	background-color: #f7f7f7;
	width: 35%;
	padding:1em;
	border-top: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 3px solid #2ea2cc;
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.ui-tooltip p {
	color: #2ea2cc;
	font-size: 1.2em;
}

/* This stylesheet is used to style the admin option form of the plugin. */
.ui-tooltip {
	width: 35%;
	border: 1px solid #2EA2CC;
}

.arrow:after {
background: #2EA2CC;
border: 1px solid #2EA2CC;
}

.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}