.ui-tooltip {
	background-color: #f7f7f7;
	width: 35%;
	padding:1em;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	-webkit-border-radius: 1px;
	border-radius: 1px;
	box-sizing: border-box;
	position: absolute;
	z-index: 1000;
}

.ui-tooltip p {
	color: #555;
	font-size: 1em;
	line-height: 1.8em;
}

.arrow:after {
	background: #f7f7f7;
	border: 1px solid #CCC;
	position: absolute;
}

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	bottom: -16px;
	border-bottom: 1px solid #f7f7f7;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

/*
 Help Overview Styling
*/
#screen-meta-container {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.024);
    margin: 0 20px -1px 0;
    position: relative;
}

#screen-meta-menu-links {
	margin: 0 20px 0 0;
}

#screen-meta-menu-links a {
	padding: 3px 6px 3px 16px;
	display: block;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
}

.screen-meta-menu-wrap {
	float: right;
    height: 28px;
    margin: 0 0 0 6px;
}

.screen-meta-block-overview {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	margin: 0 20px 0 0;
	border-left: 4px solid #2EA2CC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.screen-meta-icon {
	padding: 1px 0;
}

#screen-options-wrap, #contextual-help-wrap {
    position: relative;
	overflow-x: hidden;
}

.contextual-help-tabs ul {
    margin: 0 0;
}

.help-tab-content h3 {
	color: #0074A2;
}

.help-tab-content-icon {
	padding: 0px 10px 0px 0px;
	font-size: 1.5em;
	color: #0074A2;
	position: relative;
	top: -2px;
}

@media screen and (max-width: 782px) {
	.contextual-help-tabs {
		margin: 0;
		width: 100%;
		float: none;
		border-bottom: 1px solid #E1E1E1;
	}

	.contextual-help-tabs-content {
		overflow: auto;
		width: 100%;
		margin: 0 10px 0px 10px;
	}

	.help-footer-menu {
		float: right;
		margin: 0px 10px 0px 0px;
        padding: 3px 0;
	}

}

@media screen and (min-width: 783px) {
	.contextual-help-tabs {
		float: right;
		margin: 0;
		width: 25%;
	}

	.contextual-help-tabs-content {
		float: left;
		overflow: auto;
		margin: 0 10px 0px 10px;
		width: 70%;
	}

	.help-footer {
		clear: both;
		width: 70%;
		text-align: right;
	}


	.help-footer-menu {
		float: right;
		margin: 0px 0px 0px 10px;
        padding: 3px 0;
	}

}

.help-footer-menu a {
	text-decoration: none;
}

.screen-meta-footer-icon {
	padding: 0;
	position: relative;
	top: -1px;
}


